@font-face
  font-family 'vueAction-icon'
  src  url('/common/fonts/vueAction-icon.eot?426j8k')
  src  url('/common/fonts/vueAction-icon.eot?426j8k#iefix') format('embedded-opentype'),
        url('/common/fonts/vueAction-icon.ttf?426j8k') format('truetype'),
        url('/common/fonts/vueAction-icon.woff?426j8k') format('woff'),
        url('/common/fonts/vueAction-icon.svg?426j8k#vueAction-icon') format('svg')
  font-weight normal
  font-style normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'vueAction-icon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.icon-add_circlebefore
  content "\e900"

.icon-arrow_liftbefore
  content "\e901"

.icon-check_circlebefore
  content "\e902"

.icon-closebefore
  content "\e903"

.icon-favoritebefore
  content "\e904"

.icon-keyboard_arrow_rightbefore
  content "\e905"

.icon-remove_circle_outlinebefore
  content "\e906"

.icon-shopping_cartbefore
  content "\e907"

.icon-thumb_downbefore
  content "\e908"

.icon-thumb_upbefore
  content "\e909"
